
* {
    color: #2f4f4f;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;

}

body {
    background-color: #fff;
    background-image: url("./foggy_birds.png");
    width: 450px;
    margin: 0 auto;
}

.game-container {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 100%;
    padding: 1em;
}

/* HEADER */

.title-container {
    width: 510px;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 3px solid #e71f1f;
    margin: 1.75em 0 0;
}

.title-container > h1 {
    margin: 0;
    font-size: 2rem;
    color: #e71f1f
}

.title-image {
    width: 40px;
    margin-right: 10px;
}

.title-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.title-info {
    color: #e71f1f;
    border: none;
    background-color: #fff;
    margin-bottom: 0;
    padding: 0 0.2em;
}

.title-info > .fa-solid {
    color: #e71f1f;
    font-size: 1.35rem;
    margin: 0;
}

/* TILES */

.tile-container {
    width: 400px;
    margin-bottom: 20px;
    max-width: 100%;
    background-color: #fff;
}

.row {
    display: flex;
}

.tile {
    width: 55px;
    height: 55px;
    border: 2px solid #838383;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border-radius: 5px;
}

/* KEYBOARD */

.key-container {
    width: 450px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.key-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 45px;
    background-color: #ebebeb;
    border-radius: 5px;
    border: 1px solid #b1b1b1;
    margin: 2px;
    font-size: 0.75rem;
}

.key-container button:active {
    box-shadow: inset 0px 0px 10px -5px #666;
    transform: translateY(1px);
  }

.row-container1,
.row-container2,
.row-container3 {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-container3  button:last-child {
    font-size: 1.1rem;
    width: 52px;
}

.row-container3 button:first-child {
    width: 58px;
}

/* MODALS FOR BIRD INFO AND INSTRUCTIONS */

.modal-container,
.instructions-container,
.credits-container {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(219, 218, 218, 0.3);
}

.modal,
.instructions {
    background-color: #fff;;
    padding: 0 0 1.125em 0;
    max-width: 100%;
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 12%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

.modal-top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: #0077ff;
    border-radius: 10px 10px 0 0;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
    margin-top: 0.5em;
}

h2 {
    margin: 0 0 0.25em;
    color: #e71f1f;
    text-transform: uppercase;
}   

.fa-circle-xmark {
    font-size: 1.125rem;
    color: #fff;
}

.bird-image {
      width: 90%;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
      align-self: center;
      /* margin-bottom: 1em; */
  }

.close-modal {
    align-self: flex-start;
    border: none;
    background-color: #0077ff;
    width: 25px;
    height: 25px;
    margin: 0.75em 0.75em 0 0 ;

}
  
a {
    font-size: 0.65rem;
    margin-top: 0.5em;
}

.info-body {
    margin: 0.75em 0.25em;
    padding: 0 1.5em;
    line-height: 1.5;
    font-size: 0.95rem;
}

.example-image {
    max-width: 50%;
    padding: 0.25em 1em;
    margin: 0.5em 0;
}

h3 {
    margin: 0.5em;
}

/* MESSAGE */

.message-container,
.slider-container {
    height: 40px;
    margin: 0.25em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.message {
    background-color: #0077ff;
    color: #fff;
    margin: 0.25em 1.25em 0;
    /* padding: 0.5em 0.75em; */

}

/* TILE COLOURS AND ANIMATIONS */

.flip {
    animation: flipping 0.5s linear;
}

@keyframes flipping {
    0% {
        transform:  rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.grey-overlay {
    background-color: #808080 !important;
    color: #fff !important;
    border: none !important;
}

.yellow-overlay {
    background-color: #dbc500!important;
    color: #fff !important;
    border: none !important;
}

.green-overlay {
    background-color: #00CC60 !important;
    color: #fff !important;
    border: none !important;
}

/* FOOTER - CREDITS */

.game-container-bottom {
    margin: 0 auto;
    width: 510px;
    max-width: 100%;
    margin-top: 0.5em;

}

.footer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #e71f1f;
    margin: 0 auto;
}

.red-btn {
    border: none;
    padding: 0.45em 0.5em;
    margin: 0 0.5em 0 0.2em;
    border-radius: 5px;
    font-size: 0.75rem;
    background-color: #e71f1f;
    color: #fff;
    font-family: inherit;
}

.hint-btn {
    margin-right: 1em;
}

.footer-link {
    text-decoration: none;
    font-size: 0.75rem;
    background-color: #13D1BE;
    padding: 0.65em 1.125em;
    border-radius: 10px;
    
}


/* SLIDER */
output {
    color: #fff;
    font-size: 0.95rem;
    padding-right: 0.25em;
}

.slidecontainer {
    width: 40%;
    background-color: #e71f1f;
    margin: 1em;
    padding: 0.35em;
    border-radius: 5px;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #fff;
    -webkit-transition: .1s;
    transition: opacity .2s;
    margin: 0 0.5em;
    box-shadow: -1px -1px 2px 0px #b2b2b2;

}

.slider::-webkit-slider-thumb:hover,
.slider::-moz-range-thumb:hover {
    outline: solid;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px; 
    height: 16px; 
    border-radius: 50%;
    background: #fff;
    cursor: pointer; 
    box-shadow: -1px -1px 2px 0px #b2b2b2;
  }
  
  .slider::-moz-range-thumb {
    width: 16px;
    height: 16px; 
    background: #fff; 
    cursor: pointer;
  }

/* 
GENERIC CLASSES
generic overlay /
generic card for modal /
generic modal top /
generic modal body 
generic heading /
generic close modal button /

HOW TO PLAY
button (color?) 
game example images
body text - size/spacing, etc. 

BIRD INFO
message container
message
button (color?)
body text
link

CREDITS
links
button (color?)

STATS (TBC)
other things - not defined yet! 

/* MODALS FOR BIRD INFO AND INSTRUCTIONS */

.modal--overlay-container {
    display: none;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(219, 218, 218, 0.3);
}

.modal--card {
    background-color: #fff;;
    padding: 0 0 1.125em 0;
    max-width: 100%;
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 12%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
  
.modal--card-top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
} 

.modal--bird-info-top {
    background-color: #0077ff;
    border-radius: 10px 10px 0 0;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
    margin-top: 0.5em;
}

.modal--bird-info-heading {
    margin: 0 0 0.25em;
    color: #e71f1f;
    text-transform: uppercase;
}

.modal--heading {
    margin: 0.75em;
    color: #e71f1f;
    text-transform: uppercase;
}   

.modal--close {
    align-self: flex-start;
    border: none;
    background-color: #fff;
    width: 25px;
    height: 25px;
    margin: 0.75em 0.75em 0 0 ;
}

.modal--close-bird-info {
    background-color: #0077ff;
}

.modal--close-white {
    font-size: 1.125rem;
    color: #fff;
}

.modal--close-red {
    font-size: 1.125rem;
    color: #e71f1f;
}

.bird-image {
      width: 90%;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
      align-self: center;
      /* margin-bottom: 1em; */
  }
  
a {
    font-size: 0.65rem;
    margin-top: 0.5em;
}

.info-body {
    margin: 0.75em 0.25em;
    padding: 0 1.5em;
    line-height: 1.5;
    font-size: 0.95rem;
    font-weight: 300;
}

.example-image {
    max-width: 50%;
    padding: 0.25em 1em;
    margin: 0.5em 0;
}

h3 {
    margin: 0.5em;
}

/* MESSAGE */

.message-container,
.slider-container {
    height: 40px;
    margin: 0.25em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.message {
    background-color: #0077ff;
    color: #fff;
    margin: 0.25em 1.25em 0;
    /* padding: 0.5em 0.75em; */

}



*/

@media (max-width: 500px) {

    body {
        width: 375px;
    }

    .title-container {
        width: 350px;
    }
     
     .game-container {
         width: 350px;
     }
     
     .tile-container {
         width: 350px;
 
     }
 
     .tile {
         width: 45px;
         height: 45px;
     }
 
     .key-container {
         width: 350px;
     }
 
     .key-container > button {
         margin: 1px;
         font-size: 0.75rem;
     }

     .modal,
     .instructions {
         padding: 0 0 0.75em 0;
         width: 350px; 
    }

    .fa-circle-xmark {
        font-size: 0.75rem;
    }



    .close-modal {
        margin: 0.75em 1.25em 0 0 ;
    }
 
 }